@import './newProjectModal.css';
@import './homePage.css';

html {
	scrollbar-color: #666 slategray;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: slategray;
  overflow-x: hidden;
}

.ui.menu .item {
  padding: 0.5em 0.5em;
}