@import './newProjectModal.css';
@import './homePage.css';
@import './projectPage.css';

html, body {
  scrollbar-color: #666 slategray;
  scrollbar-width: thin;
  font-family: 'Sen', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {  
  width: 6px;
  background-color: slategrey;
}

body::-webkit-scrollbar-thumb {
  background: #666;
}

body {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  overflow-x: hidden;
  overflow-y: auto;
}

#content {
  flex: 1 0 auto;
}

.header {  
  font-family: 'Sen', sans-serif;
}

.ui.menu .item {
  padding: 0.5em 0.5em;
}

#footer {
  flex-shrink: 0;
  height: 50px;
  padding: 20px;
}

#footer .internal.rail {
  display: flex;
  align-items: center;
}

#footer .right.rail {
  justify-content: end;
}